<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>闫氏商城-用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/host.js"></script>
	<script type="text/javascript" src="js/vue-2.5.16.js"></script>
	<script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
	<script>
		var user_id = sessionStorage.user_id || localStorage.user_id;
		var token = sessionStorage.token || localStorage.token;
		if (!(user_id && token)) {
			location.href = '/login.html?next=/user_center_info.html';
		}
	</script>
</head>
<body>
	<div id="app" v-cloak>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到闫氏商城!</div>
			<div class="fr">
				<div class="login_btn fl">
					欢迎您：<em>{{ username }}</em>
					<span>|</span>
					<a @click="logout">退出</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<form method="get" action="/search.html" class="search_con fr mt40">
            <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="user_center_info.html">· 个人信息</a></li>
				<li><a href="user_center_order.html" class="active">· 全部订单</a></li>
				<li><a href="user_center_site.html">· 收货地址</a></li>
				<li><a href="user_center_pass.html">· 修改密码</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				<div v-for="(order, index) in orders">
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix" v-for="order_sku in order.skus">
									<li class="col01"><img :src="order_sku.sku.default_image_url"></li>
									<li class="col02">{{ order_sku.sku.name }}<em>{{order_sku.price }}元</em></li>
									<li class="col03">{{ order_sku.count }}</li>
									<li class="col04">{{ order_sku.amount }}元</li>
								</ul>
							</td>
							<td width="15%">{{ order.total_amount }}元<br>运费{{order.freight}}元</td>
							<td width="15%">{{ order.pay_method_name }}</td>
							<td width="15%"><a @click="on_operate_order(index)" class="oper_btn">{{ order.status_name }}</a></td>
						</tr>
					</tbody>
				</table>
				</div>

            <div class="pagenation">
				<a v-show="previous" @click="on_page(previous)">上一页</a>
				<a v-for="num in page_nums" @click="on_page(num)" :class="num==page?'active':''">{{num}}</a>
				<a v-show="next" @click="on_page(next)">下一页></a>
			</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京闫氏集团 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	</div>
	<script type="text/javascript" src="/js/user_center_order.js"></script>
</body>
</html>